@charset "UTF-8";

body{

    font-style: normal;
    font-weight: 500;
    font-size: 1.3em;
    font-family: 微软雅黑, serif;
}
#warn{
    background-color: red;
    color: aliceblue;
    border-radius: 10px;
    padding: 3px 5px;
    margin : auto;
}
#list{
    background-color: green;
    color: aliceblue;
    border-radius: 10px;
    padding: 3px 5px;

}
#success{
    background-color: orange;
    color: aliceblue;
    border-radius: 10px;
    padding: 3px 5px;

}

table tr td a{
    color: white;
    background-color: red;
    font-family: 微软雅黑, serif;
    text-decoration: none;
    border-radius: 10px;
    padding: 7px 20px;
    margin: auto;
}
a:hover{
    background-color: darkred;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2; /* 你可以根据需要修改标题背景颜色 */
}

tr:nth-child(odd) {
    background-color: #f2f2f2; /* 奇数行背景颜色 */
}

tr:nth-child(even) {
    background-color: #ffffff; /* 偶数行背景颜色 */
}

tr{
    border-bottom:1px solid #ddd; /* 仅显示行的下线 */
}